	.deleteTag1{
    background: url("../images/ql9vukDCc4R.png") no-repeat scroll 0 -236px transparent;
    display: block;
    height: 12px;
	cursor : pointer;
	width: 14px;
		}
	.deleteTag2{
    background: url("../images/ql9vukDCc4R.png") no-repeat scroll 0 -248px transparent;
    display: block;
    height: 12px;
    width: 14px;
	cursor : pointer;
		}
		
	.tagItem{
	float:left;
	margin-right:3px;
	height : 18px;
	margin-top:3px;
	border : 1px solid #a0a0a0;
	padding:3px;
	overflow:hidden;	
	}